body {
    background: rgb(0, 0, 0);
    font-family: Arial;
    margin: 0;
}
/*contenedor de elementos*/
.container { 
    background-position: center;
	width: 100vw;
    height: 100%;
    padding: 3px;
	margin:0 auto;
    overflow: hidden;

   
}
.encabezado {
    
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    margin: 3px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
}
.logo-img{
    height: 50px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{

    color: brown;
}
/*contenedor de revista*/
.content
{
	background-position: left;
	width: 50%;
    margin: 3px;
    float: left;
    align-items: left;
    background-color: brown;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
.content2{
    background-position: left;
	width: 30%;
    margin-right: 30px;
    padding: 12px;
    align-items: left;
    font-size: 1em;
    float: right;
    background-color: rgba(255, 255, 255, 0.61);
}
/*pie de pagina*/
footer{
      background-color: rgb(255, 255, 255);
      display: flex;;
      margin: 3px;
      justify-content: space-between;
      background-position: center;
      background-repeat: no-repeat;  
      height: 40%;
}
.box{
    float: left;
	width: 450px;
	margin: 6px;	
}
.boxcontac{
    float: right;
	width: 450px;
	margin: 6px;
}
