body {
    background: rgb(255, 255, 255);
    font-family: Arial;
}
.container {
	width: 100%;
    max-width: 1000px;
	margin:0  auto;
    overflow: hidden;
   
}
.encabezado {
    background-image: url(logo.png) ;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
    margin: 10px;
 

}